@charset "UTF-8";
/* CSS Document */

*{
	margin:0px;
}

body{
	background-color:#FF0;
	max-width:100%;
}

.holder{
	background-color:#999;
	background-repeat: no-repeat;
	height: 800px;
	width: 700px;
	margin: auto;
}

/*Section 1*/
.banner{
	background-color:#666;
	color:#FF0;
	width:800px;
	height: 100px;
	margin: 10px 0px 0px -50px;
	padding-top:10px;
}

.nav{
	margin: 10px 0px 0px 18px;
	width:800px;
	height:25px;	
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;	
}

li{
	float:left;
	border-right: 1px solid #FF0
}

li:last-child{
	border-right:none;
}

a,a:link{
	display:block;
	padding: 8px 40px 8px 40px;
	background-color:#000;
	color:#FF0;
}

a:hover {
	background-color:#FF0;
    color:#000;
}


.center{
	margin: auto;
	padding: 0px 75px 0px 75px;
}

/*Section 2*/
/*content1 houses the slideshow and the biography*/
.content1{
	margin-top:10px;
	width:695px;
	height:225px;
	border-style:solid;
}

.slideshow{
	margin: 10px 0px 0px 25px;
	width:300px;
	height:200px;
	border-style:solid;
	float:left;	
}

.biography{
	margin: 10px 25px 0px 0px;
	width:300px;
	height:200px;
	border-style:solid;
	float:right;
}


/*Section 3*/
/*content2 houses newsAchievements and interests*/
.content2{
	margin-top:-3px;
	width:695px;
	height:448px;
	border-style:solid;
}

.newsAchievements{
	margin:10px 0px 0px 20px;
	width:650px;
	height:200px;
	border-style:solid;
	float:left;
	text-align:center;
}

.interests{
	margin:10px 0px 0px 20px;
	width:650px;
	height:200px;
	border-style:solid;
	float:left;
	text-align:center;
}



/*This section is for the Headshots page*/
.headshotdiv{
	margin:auto;
	width:650px;
	height:670px;
	border-style:solid;
}

/*Used for all headshots except last child*/
.headshotthumbnail1{
	margin: 10px 30px 0px 30px;
	width: 150px;
	height: 200px;
	float:left;
	border-style:solid;
	background-size:cover;
}

/*Used to clear float and start new row*/
.headshotthumbnail2{
	margin: 10px 30px 0px 30px;
	width: 150px;
	height: 200px;
	border-style:solid;
	background-size:cover;
	float:left;
	clear:left;
}

/*Individual headshots here so they aren't in source code*/
.headshot1{
	background-image:url(assets/scaleddownheadshots/PurpleShirtSuit.jpg);
	}
.headshot2{
	background-image:url(assets/scaleddownheadshots/RedShirt.jpg)}
.headshot3{
	background-image:url(assets/scaleddownheadshots/BlueShirt1.jpg)}
.headshot4{
	background-image:url(assets/scaleddownheadshots/BlueShirt2.jpg)}
.headshot5{
	background-image:url(assets/scaleddownheadshots/WhiteShirt1.jpg)}
.headshot6{
	background-image:url(assets/scaleddownheadshots/WhiteShirt2.jpg)}
.headshot7{
	background-image:url(assets/scaleddownheadshots/WhiteBlueShirt.jpg)}




