@charset "UTF-8";
/* CSS Document */

*{
	margin:0px;
}

body{
	background-color:#FF0;
}


#holder{
	background-color: #CCC;
	background-repeat: no-repeat;
	height: 2000px;
	width: 700px;
	margin:auto;
}

/*Section 1*/
#banner{
	background-color:#F00;
	width:800px;
	height: 100px;
	margin-left:-50px;
}

#nav{
	margin-top:25px;
	width:700px;
	height:50px;
	border-style:dashed;	
}

ul#menu li{
	display:inline;	
}


/*Section 2*/
#content1{
	margin-top:25px;
	width:700px;
	height:250px;
	border-style:dashed;
}

#imageCarousel{
	margin-top:10px;
	width:300px;
	height:200px;
	border-style:dashed;
	float:left;
}

#biography{
	margin-top:10px;
	width:300px;
	height:200px;
	border-style:dashed;
	float:right;
}


/*Section 3*/
#content2{
	margin-top:25px;
	width:700px;
	height:250px;
	border-style:dashed;
}

#newsAchievements{
	margin-top:10px;
	width:700px;
	height:200px;
	border-style:dashed;
	float:left;
}

#interests{
	margin-top:10px;
	width:700px;
	height:200px;
	border-style:dashed;
	float:left;
}

#footer{	
}
